{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'autenticacao/css/autenticacao.css' %}">
<link rel="stylesheet" href="{% static 'home/css/home.css' %}" >
{% endblock %}

{% block 'body' %}
    <div class="box text-center">
        <form action="{% url  'cadastro' %}" method="POST">{% csrf_token %}

                    {% if messages %}
                {% for message in messages %}
                    <div class="alert {{message.tags}}">
                        {{message}}
                    </div>
                {% endfor %}
        {% endif %}
            <h1 class="titulo font-degrade borda-bottom-degrade">Cadastrar Empresa</h2>
            <br>
            <span class="span-descricao">Nome Empresa</span>
            <input type="text" class="form-control input-cadastro" name="NOME_EMPRESA">
            <br>
            <span class="span-descricao">CPF/CNPJ</span>
            <input type="text" class="form-control input-cadastro" name="CPF_CNPJ">
            <br>
            <span class="span-descricao">CEP</span>
            <input type="text" class="form-control input-cadastro" name="CEP">
            <br>
            <span class="span-descricao">ENDERECO</span>
            <input type="text" class="form-control input-cadastro" name="ENDERECO">
            <br>
            <span class="span-descricao">BAIRRO</span>
            <input type="text" class="form-control input-cadastro" name="BAIRRO">
            <br>
            <span class="span-descricao">NUMERO</span>
            <input type="text" class="form-control input-cadastro" name="NUMERO">
            <br>
            <span class="span-descricao">COMPLEMENTO</span>
            <input type="text" class="form-control input-cadastro" name="COMPLEMENTO">
            <br>
            <span class="span-descricao">CIDADE</span>
            <input type="text" class="form-control input-cadastro" name="CIDADE">
            <br>
            <span class="span-descricao">ESTADO</span>
            <input type="text" class="form-control input-cadastro" name="ESTADO">
            <br>
            <span class="span-descricao">EMAIL_RESPONSAVEL</span>
            <input type="text" class="form-control input-cadastro" name="EMAIL_RESPONSAVEL">
            <br>
            <span class="span-descricao">EMAIL_FINANCEIRO</span>
            <input type="text" class="form-control input-cadastro" name="EMAIL_FINANCEIRO">
            <br>
            <span class="span-descricao">OBS</span>
            <input type="text" class="form-control input-cadastro" name="OBS">
            <br>
            <input  type="submit" value="CADASTRAR" class="btn btn-success btn-lg">
            <a href="{% url 'logar' %}" class="btn btn-primary btn-lg">LOGIN</a>
        </form>
            
    </div>
{% endblock %}

