{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'autenticacao/css/autenticacao.css' %}">
<link rel="stylesheet" href="{% static 'home/css/home.css' %}" >
{% endblock %}

{% block 'body' %}
<div class="container-fluid">
    <h1 class="text-center" >Adicionar Produto</h1>
    <div class="container"> 
        <form method="POST">{% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-8">
                  <label for="inputCity">Nome</label>
                  <input type="text" class="form-control" name="Nome" id="Nome">
                </div>
                <div class="form-group col-md-2">
                  <label for="inputState">PRECO</label>
                  <input type="text" class="form-control" placeholder="R$" name="PRECO" id="PRECO">
                </div>
                <div class="form-group col-md-2">
                    <label for="inputZip">CATEGORIA</label>
                    <select class="form-control" name="categoria" id="categoria">
                        {% for categoria in categorias %}
                        <option value="{{categoria.id}}">{{categoria}}</option>
                        {% endfor %}
                    </select>
                  </div>
            </div>
            <div class="text-center">
                <input type="submit"  required value="Adicionar" class="btn btn-success">
            </div>
                    </form>
    </div>
{% endblock %}